body {
    background-color: aquamarine;
}
header {
    background-color: azure;
    width: 70%;
    text-align: center;
    padding: 15px;
    margin-left: 10%;
}
#container {
    display: flex;
    align-items: center;
    vertical-align: top;
    background-color: azure;
    margin-left: 10%;
    padding: 10px;
    margin-right: 18%;
}
#phones {
    flex: 0 0 auto;
    padding: 10px;
    border: 1px solid grey;
    width: 46%;
}
#browsers {
    flex: 0 0 auto;
    padding: 10px;
    border: 1px solid grey;
    width: 46%;
    margin-left: 5px;
}
